.CreateButton {
    padding: 5px 10px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(23, 167, 23);
    width: 300px;
}
.CreateButton:hover{
    background-color: rgb(0, 253, 0);
}
.OpenModal{
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.OpenModal:hover{
    background-color: rgb(47, 255, 92);
}
.DeleteSong{
    font-size: 40px;
    background-color: red;
    border: 1px solid #000;
    border-radius: 10px;
}
.DeleteSong:hover{
    background-color: rgb(236, 127, 127);
}
.setLike{
    border-radius: 10px;
    font-size: 20px;
    background-color: #E5901E;
    width: 80px;
}
.setLike:hover{
    background-color: #f78c00;
    border: none;
}